body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  display: grid;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

.container {
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 0px auto;
}

#login {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #222222;
  width: 413px;
  height: 237px;
}

input {
  border-style: none;
  background-color: #222222;
  border-bottom: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  height: 35px;
  width: 80%;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

#email {
  margin-top: 55px;
  margin-bottom: 27px;
}

#password {
  margin-bottom: 18px;
}

#login-btn {
  border-radius: 8px;
  height: 35px;
  width: 114px;
  font-size: 18px;
  background-color: #ffffff;
}

.register {
  align-content: center;
  color: #ffffff;
  font-size: 16px;
  margin: 12px auto;
  font-weight: lighter;
}

a.register {
  text-decoration: underline;
}
