:root {
  --main-text-color: #d8d8d8;
  --main-bg-color: #303030;
  --highight-color:  #262626;;
}

body, html {
	background-color: #303030;
	height: 100%;
  display: grid;
	box-sizing: border-box;
  color: #d8d8d8;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

a {
  color: #d8d8d8;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

h2 {
  font-size: 24px;
  margin-bottom: 30px;
}

h3 {
  font-size: 16px;
  margin-bottom: 15px;
}

.btn {
  border-radius: 8px;
  height: 35px;
  width: 114px;
  font-size: 18px;
  background-color: #ffffff;
}

.App {
  text-align: center;
}

