.App-header {
  background-color: #212121;
  display: grid;
  grid-template: "leftHeader rightHeader";
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: #fff;
  height: 68px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12), 0 4px 4px 0 rgba(0, 0, 0, 0.24);
}

.top-header {
  background-color: #000;
  height: 24px;
}

.leftHeader {
  grid-area: leftHeader;
  display: flex;
  align-items: center;
}

.rightHeader {
  grid-area: rightHeader;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.logo-header {
  width: 100px;
}

#menuContainer {
  display: inline-block;
  cursor: pointer;
  padding-left: 24px;
  padding-right: 20px;
}

#client-menu {
  position: absolute;
  top: 25px;
  height: 100vh;
  width: 370px;
  background-color: rgba(38, 38, 38, 1);
  z-index: -1;
  text-align: left;
}

#client-menu.change {
  z-index: 2;
}

.userContainer {
  display: inline-block;
  padding-right: 20px;
}

.userCircle {
  -webkit-background-size: 32px 32px;
  background-size: 32px 32px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  margin: 0;
  overflow: hidden;
  height: 49px;
  width: 49px;
  background-color: white;
}

.threeDot_container {
  height: 16px;
  width: 4px;
  cursor: pointer;
  display: inline-block;
  padding-right: 24px;
}

.threeDot_container span {
  background: white;
  border: none;
  height: 4px;
  width: 4px;
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 2px;
  display: block;
}
